
/* Colors 
    background colors: #23272A,
    lighter background color: 


*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #23272A;  
}


/* ----------- Header ----------- */

header {
    margin: 0;
    padding-bottom: 0;
    background-color: #23272a;
}

.header-container {
    color: #23272A;
}

.logo-box {
    height: auto;
    width: auto;
    background-size: cover;
    display: block;
}

.logo-box img {
    background-image: 110%;
    padding-left: 2px;
    display: inline-block;
    background-position: center;
    z-index: 1;
}

.navbar-nav {
    min-height: 30px;
    display: block;
    float: none;
    text-align: center;
    margin: 0 auto;
    padding: 0 0;
}

.vis-vires-logo {
    padding-bottom: 25px;
    z-index: 2;
    top: 50%;
    padding: 0 0;
    margin: 0 0;
    background-color: transparent;
}

.navbar-nav li {
    display: inline-block;
    float: none;
    background-color: #23272A;
    border: none;
}

.navbar-nav li:active,
.navbar-nav li:hover {
    background-color: red;
}

.jumbotron {
    background-color: #23272A;
    color: #fff;
}




/* ---- About-Us Section ---- */



/* ---- Universals ---- */


body {
  font-family: Raleway;
  font-size: 16px;
  background-color: #23272A;
}


