/* styles.css can you see this bucky?*/

body {
  font-family: Raleway;
  font-size: 16px;
  background-color: #23272A;
}

#discord {
  margin-top: 0px;
  padding-left: 14px;
  padding-right: 16px;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-color: #2C2F33;
  /*position: fixed;*/
  top: 2;
  width: 100%;
}

a {
  display: block;
  padding: 8px;
  background-color:;
  margin: 0;
}

li {
  float: left;
  margin-top: 0;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding; 14px 16px;
  text-decoration: none;
  margin-top: 0;
}

li a:hover {
  background-color: #E82C23
}

.active {
  background-color: #E82C23;
}

#vv1 {
  padding: 50px;
  text-align: center;
  font-size: 80px;
  color: #e82C23;
  background-image: url(images\vastspace.jpg);
  margin-top: 0px;
}

#about-us {
  text-align: center;
  padding: 0px;
  margin: auto;
  width: 50%;
  color: white;
  background-color: #23272A;
}

p {
  font-size: 18px;
  font-family: Merriweather;
}
.jumbotron {
  background-color: #23272A;

}
